
@media screen and (max-width:1370px){
    .container_big-card{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
    }
    .big-card_img{
        width: 900px;
    }
    .responsive_img{
        display: block;
        flex-direction: row;
    }

}
@media screen and (max-width:1370px){
    .big-card_img{
        width: 95%;
    }
}
@media screen and (max-width:440px){
    .container_big-card{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
    }
    .big-card_img{
        width: 95%;
    }
    .responsive_img{
        display: block;
        flex-direction: row;
    }
}