<div class="container_big-card">
    
        <div class="big-card_img">
        <img src="https://t.ctcdn.com.br/pQCs_UzmATAQTG_rv-Zv-eI79Uc=/640x360/smart/i831671.png" 
        alt=""
        srcset="">
    </div>
    <p class="gameName">{{gameName[0]}}</p>
    <div class="big-card_title">
       <a  href="https://br.ign.com/grand-theft-auto-vi/137703/news/analista-acredita-que-gta-6-pode-ser-um-grande-sucesso-no-xbox-series-s-por-motivo-simples-seria-a-m"> 
        <h1>Analista acredita que GTA 6 pode ser um grande sucesso no Xbox Series S por motivo simples:
         seria a maneira mais barata de jogar o mundo aberto da Rockstar</h1>
        </a>
    </div>
    <div class="big-card_description">
        <p>Ainda não sabemos o mês de lançamento de GTA 6, mas sabemos que ele chegará no outono de 2025.
             Este é, sem dúvida, o jogo mais aguardado dos últimos tempos, portanto, as expectativas estão mais altas do que nunca
              para o próximo grande jogo de mundo aberto da <a class="manchete" href="https://br.ign.com/grand-theft-auto-vi/137703/news/analista-acredita-que-gta-6-pode-ser-um-grande-sucesso-no-xbox-series-s-por-motivo-simples-seria-a-m">...Ler mais</a></p>
    </div>
    

</div>
