<div class="container_big-card">
    
        <div class="big-card_img">
        <img src="{{photoCover}}" 
        [routerLink]="['content', Id]"
        alt=""
        srcset="">
    
</div>
    <p class="gameName">{{gameName}}</p>
    <div class="big-card_title">
       <a  [routerLink]="['content', Id]"> 
        <h1>{{cardTitle}}</h1>
        </a>
    </div>
    <div class="big-card_description">
        <p>{{cardDescription}}<a class="manchete" [routerLink]="['content', Id]">...Ler mais</a></p>
    </div>
</div>    

